html, body, table { max-width: 95vw; }
#t {margin: 5em; border: solid #000 1px; max-width: calc(100% - 11em); }
#t th { text-align: left; }
#t tr { background: #fff; }
#t tbody tr:nth-child(odd) { background: #eee; }
#t tfoot {display: table-header-group; }
#login { display: none; }
#loading-spinner { display: none; }
body.loading #loading-spinner { display: block; text-align: center;}
body.auth #login { display: block; }
body.auth #content { display: none; }
body.loading #content { display: none; }
#loading-spinner img { animation: spinner 2s steps(18) infinite; }

@keyframes spinner {
    0% {
        transform: rotate(360deg);
    }
    100% {
        /* transform: rotate(0deg); */
    }
}

